@tailwind base;
@tailwind components;
@tailwind utilities;


.gradcolor {
    background: linear-gradient(93deg, #FF9898 0.48%, #3E2681 100%);
}

.gradcolor:hover {
    transition: 500ms;
    background: linear-gradient(-136deg, #FF9898 0.48%, #3E2681 100%);
}

.gradcolor2 {
    background: linear-gradient(136deg, #EBAEAE 14.73%, #3E2681 86.33%);
}

.gradcolor3 {
    background: linear-gradient(93deg, #FF9898 0.48%, #3E2681 100%);
    border-bottom-left-radius: 30px;
}

.gradcolorrevisi {
    background: #341784;
}

.gradcolorrevisi:hover {
    transition: 500ms;
    background: linear-gradient(-136deg, #FF9898 0.48%, #3E2681 100%);
}

/* HUMBERGER */
#burger:hover .humber {
    background: linear-gradient(-136deg, #6349ab 0.48%, #3E2681 100%);
}

/* IMAGE LOGIN */

@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

#img1,
#img3 {
    animation: moveUp 50s linear infinite;
}

#img2 {
    animation: moveUp 50s linear infinite;
    animation-direction: reverse;
}


/* Poor */
.poorColor {
    background: linear-gradient(-93deg, #c31432 0.48%, #240b36 100%);
}

/* Average */
.averageColor {
    background: linear-gradient(-93deg, #F3904F 0.48%, #c31432 100%);
}

/* Great */
.greatColor {
    baCkground: linear-gradient(-93deg, #005C97 0.48%, #363795 100%);
}

/* Excellent */
.excellentColor {
    background: linear-gradient(-93deg, #59C173 0.48%, #1D2671 100%);
}
